---
title: "Get ready for the Q4'2018 GitLab Hackathon"
author: Ray Paik
author_gitlab: rpaik
author_twitter: rspaik
categories: open source
image_title: '/images/blogimages/2018-09-13-gitlab-hackathon-cover.jpg'
description: "The Q4 Hackathon for the GitLab community will take place on November 14-15."
tags: community, collaboration, open source, events
ee_cta: false
twitter_text: "Announcing the Q4'2018 @gitlab Hackathon"
postType: content marketing
---

Following the success of [our inaugural event](/2018/10/09/hackathon-recap/), the next quarterly Hackathon will take place on November 14-15. We're looking forward to another opportunity for collaboration and meeting with new community members!

## What's the deal?

This is a virtual event where community members get together to work on merge requests (MRs) and also to welcome and help new contributors. We now have a new [Hackathon landing page](/community/hackathon/), where you will be able to find more details as we get closer to the event. Again, we will have an exciting prize for everyone who has MRs merged within 10 days of the Hackathon:

![GitLab slippers](images/blogimages/q4-hackathon-blog/Slippers.JPG){: .shadow.medium.center}
*<small>GitLab slippers for everyone with merged MRs</small>*

The person with the most MRs merged during the Hackathon will be able to show off their grand prize around the neighborhood or at a nearby skate park!

![GitLab skateboard](images/blogimages/q4-hackathon-blog/Skateboard_-_Gitlab.png){: .shadow.medium.center}
*<small>GitLab skateboard for the grand prize winner</small>*

## What else is taking place?

In addition to hacking, we plan to invite community experts for quick presentations plus Q&A sessions on various topics such as getting started as a new contributor, [Meltano](https://gitlab.com/meltano), issue triage, etc. over the two days. These sessions will also be recorded and available on [GitLab YouTube channel](https://www.youtube.com/gitlab).  If you want to see materials/recordings from the last Hackathon, you can find them in [the Q3 Hackathon wiki page](https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/gitlab-hackathon/q3-2018-hackathon/wikis/Q3-2018-Hackathon#links-to-presentations-recordings).

## Where can I find help during the Hackathon?

For communications during the Hackathon, we will use the [GitLab Community room in Gitter](https://gitter.im/gitlabhq/community). This is a channel designed to have community-related discussions and for community members to help each other as people have questions while contributing to GitLab. This is open to everyone, so please [join the room](https://gitter.im/gitlabhq/community) if you are not part of it already.

## How do I get started with contributing?

A good place to start is the [Contributing to GitLab page](/community/contribute/), where you can learn how you can
contribute to GitLab code, documentation, translation, and UX design.

If you have any questions, you are always welcome to reach me at rpaik@gitlab.com.

Cover image: ["Gitlab application screengrab"](https://unsplash.com/photos/ZV_64LdGoao) by [Pankaj Patel](https://unsplash.com/@pankajpatel).
{: .note}
